*{
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: #009688;
    color: #fff;
}

@font-face {
    font-family: CeraPro;
    src: url(Font/CeraPro-Bold.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Font/Raleway-SemiBold.ttf);
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(Image/background2.png);
        /* rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(Image/background.png); */
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0; 
    display: flex;
    line-height: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: transparent;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding: 5px 0px 0px 35px;
    width: 90px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: Cerapro;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #963000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #009688;
}

.content h1{
    font-size: 70px;
    margin-top: 60px;
    font-family: CeraPro;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: Raleway;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button a{
    text-decoration: none;
    color: #009688;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button a:hover{
    color: #fff;
}
